$dashboard-banner-gradient-start: $primary !default;
$dashboard-banner-gradient-end: lighten(
  $dashboard-banner-gradient-start,
  5%
) !default;
$dashboard-banner-network-plain-container-background-color: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-price: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-price-dark-theme: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-market: $secondary !default;
$dashboard-line-color-market-dark-theme: $secondary !default;
$dashboard-line-color-transactions: $warning !default;
$dashboard-line-color-transactions-dark-theme: $warning !default;
$dashboard-stats-item-label-color: #fff !default;
$dashboard-stats-item-value-color: rgba(#fff, 0.8) !default;
$dashboard-banner-chart-legend-label-color: #fff !default;
$dashboard-banner-chart-legend-value-color: $dashboard-stats-item-value-color !default;
$dashboard-stats-item-border-color: $primary !default;
$dashboard-banner-network-plain-container-height: 205px;
$dashboard-banner-chart-axis-font-color: $dashboard-stats-item-value-color !default;
$dashboard-banner-chart-axis-font-color-alt: #333;

.dashboard-banner-container {
  margin-bottom: 50px;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 370px;
  //background: #010313 !important;
  @include media-breakpoint-down(sm) {
      height: auto;
  }
  @include media-breakpoint-down(md) {
      height: auto;
  }

  .container {
    padding: 0 15px !important;
    width: 100% !important;
    max-width: 1380px !important;
    height: 100%;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
    @include media-breakpoint-down(md) {
      height: auto;
    }
  }
}

.dashboard-banner {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  position: relative;
  z-index: 9;

  @include media-breakpoint-between(lg, xl) {
    height: 100%;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.dashboard-banner-network-graph {
  flex-grow: 1;
  padding: 0;
  border-radius: 10px;
  //background-color: #121424;

  @include media-breakpoint-up(md) {
    min-width: 500px;
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }
}

.dashboard-banner-chart {
  flex-grow: 1;
  margin: 15px 0 20px 0;
  position: relative;
  min-height: 100px;
  height: calc(100% - 86px);

  @include media-breakpoint-down(md) {
    flex-grow: 0;
    margin-top: 20px;
    margin-bottom: auto;
    max-width: 100%;
  }

  > canvas {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    height: 150px !important;
  }
}

.dashboard-banner-chart-legend {
  display: grid;
  grid-template-columns: 0.6fr 0.9fr 0.9fr 0.9fr;
  padding-bottom: 12px;
  padding-left:20px;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-banner-chart-legend-item {
    padding-bottom: 3px;
    padding-left: 12px;
    padding-top: 3px;
    position: relative;
    padding-right: 12px;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: row;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }

    @media (max-width: 599px) {
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: column;
    }

    &::before {
      border-radius: 2px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }

    &.price-per-day {
      &::before {
        background-color: $dashboard-line-color-price;
      }
    }

    &.gas-price-oracle {
      &::before {
        background-color: $dashboard-line-color-price;
      }
    }

    &.market-cap-per-day {
      &::before {
        background-color:$dashboard-line-color-market;
      }
    }

    &.tx-per-day {
      &::before {
        background-color: $dashboard-line-color-transactions;
      }
    }
  }

  .dashboard-banner-chart-legend-label {
    color: $dashboard-banner-chart-legend-label-color;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 5px;

    @media (max-width: 374px) {
      position: relative;
      top: -2px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 5px 0 0;
    }
  }

  .dashboard-banner-chart-legend-value {
    color: $dashboard-banner-chart-legend-value-color;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;

    &.inline {
      display: inline-block;
    }
  }

  .dashboard-banner-chart-legend-value-container {
    white-space: nowrap;
  }

  .gas-price-icon {
    position: relative;
    top: -2px;
    path {
      fill: $dashboard-line-color-price;
    }
  }
}

.dashboard-banner-network-plain-container {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  border-top-left-radius: 10px;
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 476px;
  position: relative;

  @include media-breakpoint-down(lg) {
    margin-top: 15px;
    width: 550px;
  }

  @include media-breakpoint-down(md) {
    border-top-right-radius: 10px;
    height: auto;
    justify-content: flex-start;
    margin: 0;
    width: 36% !important;
  }

  @include media-breakpoint-down(sm) {
    width: 100% !important;
  }
}

.dashboard-banner-network-stats {
  gap: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  max-width: 235px;
  min-width: 235px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    max-width: 100% !important;
    .dashboard-banner-network-stats-item {
      width: 100% !important;
  }
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;

    .dashboard-banner-network-stats-item {
      max-width: 100% !important;
    }
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    .dashboard-banner-network-stats-item {
      max-width: 100% !important;
  }
  }


  @include stats-item($dashboard-stats-item-border-color, $dashboard-stats-item-label-color, $dashboard-stats-item-value-color);

  .dashboard-banner-network-stats-item {
    //background: #121526;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 235px;

    &::before {
      display: none !important;
    }

    .dashboard-banner-network-stats-label {
      font-size: 17px !important;
      line-height: 17px !important;
      //color: #E2E8F1 !important;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .dashboard-banner-network-stats-value {

      font-size: 34px !important;
      line-height: 34px !important;
      //color: #E2E8F1 !important;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (max-width: 768px) {
      .dashboard-banner-network-stats-label {
        font-size: 14px !important;
        line-height: 14px !important;
      }
      .dashboard-banner-network-stats-value {
        font-size: 22px !important;
        line-height: 22px !important;
      }
    }

    @media (max-width: 768px) {
      .dashboard-banner-network-stats-value {
        font-size: 18px !important;
        line-height: 18px !important;
      }
    }
  }




}
