@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@font-face {
  font-family: "Roobert-Regular";
  src: url("../fonts/Roobert-Regular.woff2");
}



//font-family: 'Roobert-Regular', sans-serif;
//font-family: 'Inter', sans-serif;


.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roobert-Regular, sans-serif;


  main {
    flex-grow: 1;
    background-color: #fbfafc;
  }
}

.logs-hash {
  line-height: 24px !important;
}
