@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@font-face {
  font-family: "Roobert-Regular";
  src: url("../fonts/Roobert-Regular.ttf");
}



//font-family: 'Roobert-Regular', sans-serif;
//font-family: 'Inter', sans-serif;


.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roobert-Regular, sans-serif;
  position: relative;
  z-index: 0;
  overflow: hidden;

  .bubble-icon {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    height: 400px;
  }

  .bubble-icon-bottom {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 600px;
  }


  main {
    flex-grow: 1;
    background-color: transparent;
  }
}

.logs-hash {
  line-height: 24px !important;
}
