version: '3.8'

services:
  redis_db:
    extends:
      file: ./services/docker-compose-redis.yml
      service: redis_db

  db:
    extends:
      file: ./services/docker-compose-db.yml
      service: db

  blockscout:
    platform: linux/x86_64
    depends_on:
      - db
      - smart-contract-verifier
      - redis_db
    image: blockscout/blockscout:${DOCKER_TAG:-latest}
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      args:
        COIN: 'TENET'
        COIN_NAME: 'TENET'
        NETWORK_PATH: '/'
        CHAIN_ID: "0x1a645"
        JSON_RPC: "https://rpc.testnet.step.network/"
        SUBNETWORK: "TENET"
        CACHE_EXCHANGE_RATES_PERIOD: ""
        DISABLE_READ_API: "false"
        DISABLE_WEBAPP: "false"
        DISABLE_WRITE_API: "false"
        CACHE_ENABLE_TOTAL_GAS_USAGE_COUNTER: ""
        CACHE_ADDRESS_WITH_BALANCES_UPDATE_INTERVAL: ""
        WOBSERVER_ENABLED: "false"
        ADMIN_PANEL_ENABLED: ""
    restart: always
    stop_grace_period: 5m
    container_name: 'blockscout'
    links:
      - db:database
    command: bash -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    env_file:
      -  ./envs/common-blockscout.env
    environment:
      COIN: 'TENET'
      COIN_NAME: 'TENET'
      ETHEREUM_JSONRPC_HTTP_URL: "https://rpc.testnet.step.network/"
      ETHEREUM_JSONRPC_TRACE_URL: "https://rpc.testnet.step.network/"
      SUBNETWORK: "TENET"
      DATABASE_URL: "postgresql://postgres:123@db:5432/blockscout"
      HIDE_BLOCK_MINER: 'true'
      INDEXER_DISABLE_INTERNAL_TRANSACTIONS_FETCHER: 'false'
      INDEXER_DISABLE_PENDING_TRANSACTIONS_FETCHER: 'false'
      INDEXER_DISABLE_ADDRESS_COIN_BALANCE_FETCHER: 'false'
      NETWORK_PATH: '/'
      CHAIN_ID: "0x1a645"
      JSON_RPC: "http://64.225.71.63:8545/"
      SECRET_KEY_BASE: "7a075544915b5df8b670773cbb13246031acdb1fd84d9b071514b146b9f53441"
      DISPLAY_TOKEN_ICONS: 'true'
    ports:
      - 4000:4000
    volumes:
      - ./logs/:/app/logs/

  smart-contract-verifier:
    extends:
      file: ./services/docker-compose-smart-contract-verifier.yml
      service: smart-contract-verifier

  visualizer:
    extends:
      file: ./services/docker-compose-visualizer.yml
      service: visualizer

  sig-provider:
    extends:
      file: ./services/docker-compose-sig-provider.yml
      service: sig-provider